/***********************************************
	Inherited Styles
************************************************/

html {
	box-sizing: border-box;
	font-family: "Helvetica", "Arial";
	font-size: 24px;
	color: #fff;
}

*, *::before, *::after {
	box-sizing: inherit;
    color: inherit;
    font: inherit;
}

/***********************************************
	Defaults
************************************************/

body {
	margin: 0;
}

.page {
	overflow: hidden;
}

form {
	margin-top: 205px;
}

/************************************************
	Welcome Section
************************************************/

.header-primary {
	background-color: black;
	position: fixed;
	width: 100%;
	z-index: 2;
}

.header-primary > nav a {
	text-decoration: none;
	margin: 20px 0 0 20px;
}

.tagline {
	position: fixed;
	backface-visibility: hidden;
	margin-left: 531px;
	margin-top: 150px;
}

.tagline h1 {
	background-color: rgba(0,0,0,0.5);
	padding: 5px;
}

.tagline span {
	color: lime;
}

.index .tagline {
	margin-left: 606px;
}

.contact .tagline {
	margin-left: 582px;
}

/************************************************
	index.html
************************************************/

.index {
	display: flex;
	min-height: 1400px;
}

.index .gallery-primary {
	background-image: url("images/greybark1.jpg"), -webkit-linear-gradient(top, #6cab26, #6ceb86);
	flex: 1.8;
}

.index .content-primary {
	flex: 1.2;
	background-color: #249b24;
    -webkit-animation-name: change
    -webkit-animation-duration: 15s; 
    animation-name: change;
    animation-duration: 15s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes change {
    5%   {background-color: #008068;}
    25%  {background-color: #007280;}
    50%  {background-color: #003E80;}
    75%  {background-color: #008072;}
    100% {background-color: #5A8000;}
}

/* Standard syntax */
@keyframes change {
    5%   {background-color: #008068;}
    25%  {background-color: #007280;}
    50%  {background-color: #003E80;}
    75%  {background-color: #008072;}
    100% {background-color: #5A8000;}
}

.index .content-primary .numbercircle {
	margin-left: 64px;
	margin-top: 84px;
}

.index .content-primary .numbercircle p {
	display: inline;
	margin: 10px;
}

.index .content-primary .numbercircle .number {
	border: 1px solid #fff;
	border-radius: 50%;
	margin-left: 23px;
	padding: 5px 13px 5px 13px;
}

.index .content-primary p.statement {
	margin-left: 91px;
    margin-right: 74px;
    margin-top: 80px;
    line-height: 170%;
}

/************************************************
	about.html
************************************************/

.about-new-body {
	background-image: url("images/earth-tree.jpg");
}

.about-new {
	display: flex;
	height: 300px;
}

.about-new .content-third {	
	flex: 1;
}

.about-new .content-third .tree1a {
	margin: 150px 0 0 40px;
	box-shadow: 10px 10px #555;
    border-radius: 10%;
}

.about-new .tree1a:hover {
	box-shadow: 0 0 10px 10px #444;
}

.about-new .content-secondary {
	flex: 1;
}

.about-new .content-secondary .plus {
	margin: 220px 0 0 105px;
    display: inline-block;
    background-color: rgba(0,0,0,0.7);
    padding-left: 10px;
    padding-right: 10px;
}

.about-new .content-main {
	flex: 1;
}

.about-new .content-main .selfie1a {
	margin: 150px 0 0 0;
	box-shadow: 10px 10px #555;
    border-radius: 10%;
}

.about-new .selfie1a:hover {
	box-shadow: 0 0 10px 10px #444;
}

.about-new .content-twice {
	flex: 1;
}

.about-new .content-twice .equal {
	margin: 220px 0 0 105px;
	display: inline-block;
	background-color: rgba(0,0,0,0.7);
    padding-left: 10px;
    padding-right: 10px;
}

.about-new .content-thrice {
	flex: 1;
}

.about-new .content-thrice .logo {
	margin: 220px 0 0 0;
	background-color: rgba(0,0,0,0.5);
    padding-left: 69px;
}

.about-new .content-thrice .logo span {
	color: lime;
}

.col3 {
	display: flex;
	min-height: 300px;
}

.col3 .divider1 {
	flex: .75;
}

.col3 .output-about {
	flex: 1.5;
}

.output-about {
	margin: 120px 0 50px 0;
	background: rgba(0,0,0,0.7);
	padding: 20px;
}

.about-target {
	padding: 20px;
}
.col3 .divider2 {
	flex: .75;
}

/*************************************************
	members.html
*************************************************/

.members-body {
	background-image: url("images/earth-tree.jpg");
}

.members .user-list {
	margin-top: 100px;
}

.members .user-content {
	display: flex;
	height: 300px;
	padding: 20px;
	margin: 30px 0 0 0;
	background-color: rgba(0,0,0,0.7);
}

.members .user-img {
	flex: 1;
}

.members .user-img img {
	width: 410px;
	height: 260px;
	border-radius: 15px;
}

.members .user-info {
	flex: 1;
}

.members .user-info ul {
	margin: 70px 0 0 50px;
}

.members .user-map img {
	border-radius: 15px;
}

.members h1 {
	margin: auto;
	text-align: center;
	background-color: rgba(0,0,0,0.7);
	padding: 96px 10px 10px 10px;
}

/************************************************
	get-involved.html
************************************************/

.get-involved {
	display: flex;
	min-height: 1400px;
}

.get-involved .content-primary {
	flex: 1.2;
	background-color: #249b24;
}

.get-involved .gallery-primary {
	flex: 1.8;
	background-image: url("images/tree-bw.png");
}

/************************************************
	contact.html
************************************************/

.contact {
	display: flex;
	min-height: 1400px;
}

.contact .gallery-primary {
	flex: 1.8;
	background-image: url("images/work-done-sq.jpg");
	background-size: contain;
}

.contact .content-primary {
	flex: 1.2;
	background-color: #37a737;
}

/************************************************
Forms
************************************************/

input {
	margin-left: 0;
	color: #000;
}

.form-row {
	font-size: 18px;
    width: 446px;
    margin: 5px 5px 30px 138px;
}

.form-row > div:nth-child(1) {
	float: left;
	width: 20%;
}

.form-row > div:nth-child(2) {
	margin-left: 157px;
}

.captcha1 {
	width: 174px;
}

.captcha2 {
	width: 165px;
}

.region-select-secondary, .region-select-primary {
	color: #000;
	width: 61%;
}

.submit, .warning {
	color: #000;
	margin-right: 41px;
	margin-left: 90px;
}

/************************************************
	media queries
************************************************/

@media screen and (max-width: 360px) {

	.tagline {
		margin-left: 392px;
	}

}

@media screen and (min-width: 1400px) {

	.tagline {
		margin-left: 863px;
	}

	input {
		margin-left: 52px;
	}

	.form-row {
		margin: 5px 5px 30px 208px;
	}

	.region-select-secondary, .region-select-primary {
		width: 255px;
		margin-left: 69px;
	}
	
}