/***********************************************
	Inherited Styles
************************************************/

html {
	box-sizing: border-box;
	font-family: "Helvetica", "Arial";
	font-size: 24px;
	color: #fff;
}

*, *::before, *::after {
	box-sizing: inherit;
    color: inherit;
    font: inherit;
}

/***********************************************
	Defaults
************************************************/

body {
	margin: 0;
}

.page {
	overflow: hidden;
}

form {
	margin-top: 272px;
}

/************************************************
	Welcome Section
************************************************/

.header-primary {
	background-color: black;
	position: fixed;
	width: 100%;
	z-index: 2;
}

.header-primary > nav a {
	text-decoration: none;
	margin: 20px 0 0 20px;
}

.tagline {
	position: fixed;
	backface-visibility: hidden;
	margin-left: 650px;
	margin-top: 150px;
}

.tagline h1 {
	background-color: rgba(0,0,0,0.5);
	
}

.tagline span {
	color: lime;
}

/************************************************
	Vertical Hero Panel
************************************************/

.gallery-primary {
	/*background-color: brown;*/
	background-image: url("images/greybark1.jpg");
	min-height: 1400px;
	width: 60%;
	float: left;
	margin-top: 16px;
}

.columns-3 .gallery-primary {
	width: 33%;
}

.about .gallery-primary {
	background: none;
}

.get-involved .gallery-primary {
	background-image: url("images/tree-bw.png");
}

.about .how-to-tree img {
	width: 50%;
    margin: 210px 0 0 50px;
    box-shadow: 10px 10px #555;
    border-radius: 10%;
}

.about .how-to-tree img:hover {
	box-shadow: 0 0 10px 10px #444;
}

.about .gallery-primary-section1 h1 {
	margin: -142px 0 0 385px;
    -webkit-text-stroke: 3px white;
    background-color: rgba(0,0,0,0.7);
    padding: 0 16px 0 16px;
}

.contact .gallery-primary {
	background-image: url("images/work-done-sq.jpg");
	min-height: 1400px;
	width: 60%;
	float: left;
	background-size: contain;
}

/************************************************
	Content Panel
************************************************/

.content-primary {
	width: 40%;
	min-height: 1415px;
	float: left;
	background-color: green;
}

.index .content-primary {
	
	width: 40%;
	min-height: 1415px;
	float: left;
	background-color: green;
    -webkit-animation-name: change
    -webkit-animation-duration: 15s; 
    animation-name: change;
    animation-duration: 15s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes change {
    5%   {background-color: lime;}
    25%  {background-color: teal;}
    50%  {background-color: navy;}
    75%  {background-color: aqua;}
    100% {background-color: green;}
}

/* Standard syntax */
@keyframes change {
    5%   {background-color: lime;}
    25%  {background-color: teal;}
    50%  {background-color: navy;}
    75%  {background-color: aqua;}
    100% {background-color: green;}
}

.columns-3 .content-primary {
	width: 33%;
	background-image: url("images/greybark1.jpg");
}

.columns-3.about .content-primary {
	background: none;
}

.get-involved {
	background-image: url("images/greybark1.jpg");
}

.numbercircle {
	margin-left: 64px;
	margin-top: 84px;
}

.numbercircle p {
	display: inline;
	margin: 10px;
}

.number {
	border: 1px solid #fff;
	border-radius: 50%;
	margin-left: 23px;
	padding: 5px 13px 5px 13px;
}

p.statement {
	margin-left: 91px;
    margin-right: 74px;
    margin-top: 80px;
}

.about .content-primary-section1 img {
	margin: 230px 0 0 72px;
	border-radius: 10%;
	box-shadow: 10px 10px #555;
}

.about .content-primary-section1 img:hover {
	box-shadow: 0 0 10px 10px #444;
}

input {
	margin-left: 0;
}

.form-row {
	font-size: 18px;
    width: 446px;
    margin: 5px 5px 30px 138px;
}

.form-row > div:nth-child(1) {
	float: left;
	width: 20%;
}

.form-row > div:nth-child(2) {
	margin-left: 157px;
}

.first-name, .last-name, .email, .zip, .city, .captcha1, .captcha2 {
	color: #000;
}

.captcha1 {
	width: 174px;
}

.captcha2 {
	width: 165px;
}

.region-select-secondary, .region-select-primary {
	color: #000;
	width: 61%;
}

.submit, .warning {
	color: #000;
	margin-right: 41px;
	margin-left: 90px;
}

/************************************************
	Third Panel
************************************************/

.about .gallery-secondary-section {
	margin: 314px 0 0 50px;
}

.about .gallery-secondary-section h1:nth-child(1) {
	margin: -70px 0 0 39px;
	-webkit-text-stroke: 3px white;
	display: inline-block;
	background-color: rgba(0,0,0,0.7);
	padding: 0 10px 0 10px;
}

.about .gallery-secondary-section h1:nth-child(2) {
	margin: -49px 0 0 84px;
	display: inline-block;
	background-color: rgba(0,0,0,0.5);
}

.about .gallery-secondary-section span {
	color: lime;
}

.about-body {
	background-image: url("images/earth-tree.jpg");
	background-color: rgba(0,0,0,0.5);
}

.output-about .para1, .para2 {
	margin: 120px 0 0 30px;
	background: rgba(0,0,0,0.7);
}

.members-body {
	background-image: url("images/earth-tree.jpg");
}

.user-list {
	margin-top: 100px;
}

.columns-1 .user-content {
	display: flex;
	height: 300px;
	padding: 20px;
	margin: 30px 0 0 0;
	background-color: rgba(0,0,0,0.7);
}

.columns-1 .user-img {
	flex: 1;
}

.columns-1 .user-img img {
	width: 410px;
	height: 260px;
	border-radius: 15px;
}

.columns-1 .user-info {
	flex: 1;
}

.columns-1 .user-info ul {
	margin: 70px 0 0 80px;
}

.columns-1 .user-map {
	width: 450px;
	display: inline-block;
	margin-left: 20px;
	margin-right: 70px;
}

.columns-1 .user-map img {
	width: 450px;
	height: 265px;
	border-radius: 15px;
	margin-left: 75px;
}

.columns-1 h1 {
	margin-left: 306px;
	margin-top: 60px;
	display: inline-block;
	background-color: rgba(0,0,0,0.7);
	padding: 10px 10px 10px 10px;
	border-radius: 15px;
}

@media screen and (min-width: 1400px) {

	.tagline {
		margin-left: 858px;
	}

	input {
		margin-left: 52px;
	}

	.gallery-primary {
		background-image: url("images/tree-bw.png");
	}

	.columns-1 h1 {
		margin-left: 557px;
	}

	.form-row {
		margin: 5px 5px 30px 208px;
	}

	.region-select-secondary, .region-select-primary {
		width: 255px;
		margin-left: 69px;
	}

	.about .content-primary-section1 img {
		margin: 282px 0 0 117px;
	}

	.about .gallery-primary-section1 h1 {
    	margin: -177px 0 0 517px;
    	padding: 0 1px 0 40px;
	}
	
	.about .gallery-secondary-section h1:nth-child(1) {
		margin: 36px 0 0 39px;
	}
}